# Database Configuration
DB_USER=postgres
DB_HOST=localhost
DB_NAME=cs2_nades
DB_PASSWORD=postgres
DB_PORT=5432

# Telegram Configuration
TELEGRAM_BOT_TOKEN=YOUR_NEW_BOT_TOKEN_HERE
TELEGRAM_WEBAPP_URL=https://t.me/c2_grnd_bot_bot

# Server Configuration
PORT=3000